<h1>PLANTILLAS</h1>
<hr>
<a href="Universal/index.html" target="_blank">Universal (frontend)</a>
<br>
<a href="DPAN/index.html" target="_blank">DPAN (frontend)</a>
<br>
<a href="Newsprk/index.html" target="_blank">Newsprk (frontend)</a>
<br>
<a href="BoldNews/index.html" target="_blank">Bold News (frontend)</a>
<br>
<a href="Sahifa/index.html" target="_blank">Sahifa (frontend)</a>
<br>
<br>
<a href="https://services.websitelayout.net/" target="_blank">Services (frontend)</a>
<br>
<a href="Services/index.html" target="_blank">Services (real)</a>
<br>
<a href="Services/documentation/index.html" target="_blank">Services (documentacion)</a>
<br>
<br>
<a href="Smarty/HTML/index.html" target="_blank">Smarty (frontend)</a>
<br>
<a href="Smarty/Admin/HTML/index.html" target="_blank">Smarty (backend)</a>
<br>
<br>
<a href="SmartAdmin/index.html" target="_blank">SmartAdmin (backend)</a>
<br>
<br>
<a href="AdminLTE2/index.html" target="_blank">AdminLTE 2 (backend)</a>
<br>
<br>
<a href="AdminLTE3/index.html" target="_blank">AdminLTE 3 (backend)</a>
<br>